body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#cardsContainer .mix{
  display: none;
  width: 120px;
  border: 1px solid;
  border-radius: 5px;
  padding: 50px 15px;
  margin: 10px 15px;
}
