<script type="text/javascript">
lightbox.option({

});
</script>

<div class="row gallery-list" style="height: 122px;">

  <div class="col-sm-4">
    <a href="/images/photos/table-tennis-2592x1944.jpg" data-lightbox="gallery">
      <img src="/images/photos/table-tennis-500x375.jpg" alt="CoderForge training for Table Tennis T4 2016" class="img-rounded img-responsive">
      <span class="caption">CoderForge training for Table Tennis T4 2016</span>
    </a>
  </div>

  <div class="col-sm-4">
    <a href="/images/photos/Radical_Lightbox-7687-1024x678.jpg" data-lightbox="gallery">
      <img src="/images/photos/Radical_Lightbox-7687-500x331.jpg" alt="CoderForge blockchain event @ Bank of Ireland 2017" class="img-rounded img-responsive">
      <span class="caption">CoderForge blockchain event @ Bank of Ireland 2017</span>
    </a>
  </div>

  <div class="col-sm-4">
    <a href="/images/photos/C2eUNOdWgAAd9S-900x696.jpg" data-lightbox="gallery">
      <img src="/images/photos/C2eUNOdWgAAd9S-900x696.jpg" alt="CoderForge blockchain event @ Bank of Ireland 2017" class="img-rounded img-responsive">
      <span class="caption">CoderForge blockchain event @ Bank of Ireland 2017</span>
    </a>
  </div>

</div>

<hr style="clear: both; margin-bottom: 50px"/>
