<div id="ember474" class="ember-view justified-gallery" style="height: 122px;">    <a href="/images/photos/table-tennis-2592x1944.jpg" class="jg-entry entry-visible" style="width: 160px; height: 120px; top: 1px; left: 1px;">
      <img src="/images/photos/table-tennis-500x375.jpg" alt="CoderForge training for Table Tennis T4 2016" style="width: 160px; height: 120px; margin-left: -80px; margin-top: -60px;">
    <div class="caption">CoderForge training for Table Tennis T4 2016</div></a>
    <a href="/images/photos/Radical_Lightbox-7687-1024x678.jpg" class="jg-entry entry-visible" style="width: 181px; height: 120px; top: 1px; left: 162px;">
      <img src="/images/photos/Radical_Lightbox-7687-500x331.jpg" alt="CoderForge blockchain event @ Bank of Ireland 2017" style="width: 181px; height: 120px; margin-left: -90.5px; margin-top: -60px;">
    <div class="caption">CoderForge blockchain event @ Bank of Ireland 2017</div></a>
    <a href="/images/photos/C2eUNOdWgAAd9S-900x696.jpg" class="jg-entry entry-visible" style="width: 155px; height: 120px; top: 1px; left: 344px;">
      <img src="/images/photos/C2eUNOdWgAAd9S-900x696.jpg" alt="CoderForge blockchain event @ Bank of Ireland 2017" style="width: 155px; height: 120px; margin-left: -77.5px; margin-top: -60px;">
    <div class="caption">CoderForge blockchain event @ Bank of Ireland 2017</div></a>

</div>
