<div class="container">


<div class="page-header">
  <h1>Coder Forge  <small>A place to learn how to forge out code, to smyth out patterns and designs.</small></h1>
</div>

<div class="row">
  <div class="col-xs-12">

      <p>Welcome to the coder forge.</p>
      <p>These events hope to provide a place for adults to learn and trade as a
      `coder`. They are open to all, from complete newbies (noobs) to advanced
      programmers (guru's).</p>

      <p>There is no set curriculum and no costs either. Because of this these weekly
      meetups will be on an open door basis.</p>

      <p>As you can see this site is a work in progress, as is the project on a whole,
      but please do drop into our next <a href="http://www.meetup.com/Dublin-Coder-Forge/events/227966239/">forge</a> and see what it is all about.</p>

      <p><a href="mailto:coderforge.dublin@gmail.com">contact us</a></p>

  </div>
</div>

<div id="mircoservices-list" class="row">
  <div class="col-xs-4">
    <a href="https://coderforge.slack.com">
      <img src="/images/logo.slack.png" width="120"/><br/>
      Slack Channel
    </a>
  </div>
  <div class="col-xs-4">
    <a href="https://github.com/coder-forge">
      <img src="/images/logo.github.png" width="120"/><br/>
      Github Repositories
    </a>
  </div>
  <div class="col-xs-4">
    <a href="https://www.meetup.com/Dublin-Coder-Forge">
      <img src="/images/logo.meetup.svg" width="120"/><br/>
      CF Meetups
    </a>
  </div>
</ul>


</div>
