<div class="col-xs-12">

  <p>Organising a coder forge is a 2 step process. Important information can be
  found on our <a href="/about.html">About Us</a> page.
  It is highly recommended to read this first</p>
  <div class="well">
    <h4>Step 1</h4>
    <p>Your forge must provide:</p>
    <ol>
      <li>No costs to members</li>
      <li>All code produced is under <a href="https://opensource.org/licenses/MIT">MIT</a> license, all projects under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons</a></li>
      <li>Mixed branding between your self or hosting organising and the Coder Forge Charity</li>
    </ol>
  </div>

  <div class="well">
    <h4>Step 2</h4>
    <p>You may need a <a href="http://www.meetup.com">meetup.com</a> account</p>
    <ul>
      <li>Advertise your forge on our <a href="http://www.meetup.com/Dublin-Coder-Forge/messages/boards/thread/49821895">meetup discussion</a></li>
    </ul>
  </div>

</div>
