extends layout

block content
  .container
  
    .well
      form.form-horizontal(method="post")
        .row
          .col-md-6
            .form-group
              label.col-sm-2.control-label(for="title") Title <span style="color: red">*</span>
              div.col-sm-10
                input.form-control(type="text", id="title", name="title", required="required")
            .form-group
              label.col-sm-2.control-label(for="url") Url
              div.col-sm-10
                input.form-control(type="text", id="url", name="url", required="required")
            .form-group
              label.col-sm-2.control-label(for="description") Description
              div.col-sm-10
                textarea.form-control(id="description", name="description", required="required")
          .col-md-6
            .row
              .col-md-12
                p preview goes here
            .row
              .col-md-12.text-center
                button.btn.btn-primary(type="submit") Add Tool
