extends layout

block footer
    h1 This is the footer
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/bower_components/mixitup/build/jquery.mixitup.min.js")
    script(src="/javascripts/global.js")
