extends layout

block content
  h1= title
  p Welcome to #{title} - please see our temporary site here: <a href="http://daithi-coombes.github.io/coder-forge/">http://daithi-coombes.github.io/coder-forge/</a>
