extends layout

block content
  .content
    h1= title
    p Welcome to #{title} - please see our temporary site here: <a href="http://daithi-coombes.github.io/coder-forge/">http://daithi-coombes.github.io/coder-forge/</a>

  #cardsNav
    .filter(data-filter="all") All
    .filter(data-filter=".cat-1") Cat 1

  #cardsContainer
    .mix.cat-1 One card
    .mix.cat-2 and another one
    .mix.cat-3 guess what?
