<div class="row">
  <div class="col-xs-12">



<div class="well">
  Simply put: A community based learning charity
</div>
<h3 class="title">The Coder Forge Community</h3>
<p>
  Coder Forge is about providing a weekly space, for people 17yrs+, that are
  interested in learning a trade as a coder, whether that be working locally,
  commercially, or online. With the technology currently available to us it is
  perfectly feasible to learn a trade as a coder whilst you learn your full
  skill set. No different to any other apprenticeship. Also using this method
  gives the individual the chance to see if coding, or software development in
  general, is something their interested in. It gives the individual a chance to
  test the market when choosing a career path.
</p><p>
  We hope to provide a place for adults to learn and trade as a `coder`. They are
  open to all, from complete newbies (noobs) to advanced programmers (guru's).
  There is no set curriculum and no costs either. Each Forge must be realised
  out of a greater need within the community and must therefore support and
  promote local services, whether fee paying or not.
</p>
<h3 class="title">A Coding Forge</h3>
<p>
  These Forge's also hope to improve the relationship between the level of
  knowledge of the coder and the current market forces. It is for this reason
  the Forge's will be based on a bottom up decision making process by allowing
  the members of each individual Forge to decide what is thought and by whom. By
  keeping decisions on the format of the individual Forge's as distruted as
  possible it is hoped to realise the full potential of allowing the current
  technologies and tools to gain traction with those that are working and coming
  into the trade.
</p><p>
  A Coding Forge is a member of the Coder Forge community and has access to a
  growing set of collaboration tools. There is a huge amount of autonomy
  expected in a Forge. For this reason there are only a handful of requirements
  to be accepted as a Coding Forge:
  <ul class="well">
    <li>No costs to members</li>
    <li>All code produced is under MIT license</li>
    <li>Mixed branding between hosting organisations and Coder Forge</li>
  </ul>
</p><p>
  At a coder forge the format is flexible enough to change from `nodejs` to
  `php` or from `python` to whatever the next new big thing is. It is entirely
  up to those that are present. The coder forges are modeled on the popular
  `coder-dojo` but with a focus on adults rather than kids, and thus an ability
  to learn where to find work, either in the locality, or online. It must be
  noted that due to the charity nature of the Coder Forge, all closed source
  projects should be left at the door, all code and projects created in a coder
  forge are licensed under MIT and Creative Commons respectively.
</p>
<h3 class="title">A Coding Forge and the Community</h3>
<p>
  As well of the core goal to give everybody the right to learn a career as a
  coder, there are two issue's that the Coder Forge would hope to solve:
</p>
<div class="well">
  <ul>
    <li>Becoming a financial advantage to the community and local groups</li>
    <li>Digital Divide</li>
  </ul>
</div>
<p>
  <b>On becoming a financial advantage to the community</b><br>
  In order for Coder Forge's to be accessible to all then they must be run on a
  charity basis, thus free. At the same time this charity must provide a service
  to the greater community and this includes supporting local fee paying
  services. Within the greater community there exists organisations, co-op's,
  charities, open source spaces, makers and hacker spaces, business, that have
  fixed assets and running costs. It is inevitable that Coder Forge's will be
  using these spaces, therefore there must be the ability for a Forge to provide
  some financial support if required.
</p><p>
  There are two ways that a Coder Forge can become an asset to other groups in
  the area. In the first instance a Forge can look for local sponsorship, for
  example a local accountancy firm that deals with freelancer's would have a
  vested interest in a Forge. In the second instance, organisations that run a
  Forge can also run paid for, more professional and curriculum based classes,
  along side the weekly Coder Forge night. Converstions to the fee paying
  classes could be made by the organisation from their weekly, free, Coder Forge
  night.
</p>
<p>
  <b>On the digital divide</b><br>
  This is an ongoing battle. As other groups and meetups say `bring your own
  laptop`, the Coder Forge community cannot. In order to help overcome the
  digital divide it is completely up to the individual Forge whether they are
  able to provide equipment or not. However, where ever a Forge is forced to
  employ a 'bring your own laptop' philosophy it must be seen as a blocker to
  the overall project that must be solved. In our current environment this
  blocker will effect the majority of Forges.
</p><p>
  With the advent of SMB desktops, such as the `Raspberry Pi`, the `Galileo` and
  open source controllers such as the `Andrino`, it maybecome feasible to provide
  cheap open source computers that could be paid for, cheaply, by local services
  or across the entirity of the project through large global sponsorship. The
  digital divide must be solved by what ever route is necessary.
</p>
<div class="well">
  <p>Conclusion</p>
  <p>
    Coder forges are to be stress free, without any set out curriculum, and they
    must also support and work with other open projects in their locality.
  </p>
  <ul>
    <li>based on open source methodologies and philosophies</li>
    <li>not tied down to one specific language or industry</li>
    <li>community based structures where members can decide the direction and format of workshops</li>
    <li>an online portal for mentor and coder collaboration</li>
  </ul>
</div>
<p>
  As you can see this site is a work in progress, as is the project on a whole,
  but please do drop into our next meetup and see what it is all about.
</p>

  </div>
</div>
