<div class="row">
  <div class="col-xs-12">



<p>Organising a coder forge is a simple process. Important information can be
found on our <a href="http://coder-forge.github.io/about.html">About Us</a> page.
It is highly recommended to read this first</p>
<div class="well">
  <p>Your forge must provide:</p>
  <ol>
    <li>No costs to members</li>
    <li>All code produced is under <a href="https://opensource.org/licenses/MIT">MIT</a> license, all projects under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons</a></li>
    <li>Mixed branding between your self or hosting organising and the Coder Forge Charity</li>
  </ol>
</div>

        {{chain-forge}}

  </div>
</div>
